*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-color: #d12222;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    width: 80px;
    height: 80px;
    font-size: 20px;
    margin: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    
}

.calculator{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    
}

#input{
    max-width: 400%;
    height: 80px;
    text-align: right;
    margin-bottom: 10px;
    font-size: 20px;
    overflow: hidden;
}
