*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.filter-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#search-input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-right: 10px;
}

#search-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#search-btn:hover{
    background-color: #0056b3;
}
.category-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.category-btn{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}
.category-btn.active{
    background-color: #0056b3;
}
.category-btn:hover{
    background-color: #0056b3;
}
.product-item{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
#product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;
}
